.uix {

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
    color: $textColor;

    .block {
        display: block;
    }

    fieldset,
    section {
        user-select: none;
        position: relative;
        margin-bottom: 0.5em;
    }

    label {
        padding: 0.3em 0.3em 0 0;
        margin: 0 0 0.5em;
        display: inline-block;
        vertical-align: top;
        user-select: none;
    }

    fieldset,
    hr {
        border: 1px solid $mainColor;
        padding: 0.5em 1em;
        margin-bottom: 1em;
    }

    hr {
        border-top: 1px solid $mainColor;
        padding: 0;
        margin: 1em 0;
    }

    input[type="text"],
    textarea {
        padding: 0.3em 1em;
        margin: 0 0.4em 0.75em 0;
        border: 1px solid $mainColor;
        background-color: $darkgray;
        font-family: 'Roboto Condensed', sans-serif;
        border-radius: 2px;
        font-size: 0.9em;
        color: $textColor;
        resize: none;
        position: relative;
        top: -2px;
        box-sizing: border-box;
        vertical-align: top;
    }
}